/* 네브바 */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: gray;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    top: 0;
    height: 60px;
}
.nav-left {
    width: 150px;
}
.nav-center {
    width: 200px;
    border-radius: 4px;
    border-color: lightgray;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: rgb(245, 245, 245);
    color:lightgray;
}
.nav-right {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-right i {
    font-size: 20px;
}
.contents {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid black;
}
.subnav {
    display: flex;
    margin: 20px auto;
    width: fit-content;
    align-content: center;
    justify-content: space-between;
    font-size: 12px;
}

.imgs {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px 0;
    justify-content: space-evenly;

}

.instaimg {
    width: 18rem;
    height: 18rem;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 0.1rem;
    margin-left: 0.2rem;
    display: block;
    padding: 0;
    margin-right: 2%;
}